# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# env file
.env

# Editor/IDE
.idea/
.vscode/

# Release action
.github/release-notes.md

# Commodore
catalog/
compiled/
dependencies/
inventory/
jsonnetfile*.json
target/
vendor/

# Other detritus from setup runs
.guided-setup-state.json*
.gandalf-state.json*
*_hieradata/
rhcos-*.qcow2
ssh_*
terraform.env
ui-log.txt
openshift4-clusters/
em-*
backup-dump*
openshift-install*
