name: Docs

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          path: gs
      - uses: actions/checkout@v6
        with:
          repository: appuio/openshift4-docs
          path: docs
          token: ${{ secrets.DOCS_REPO }}
      - name: Generate docs
        shell: bash
        run: |
          for wf in gs/workflows/*.workflow
          do
            basename=${wf##*/}
            stripext=${basename%%.*}
            cloud=${stripext%%-*}
            docker run --user $(id -u) --volume=$(pwd)/gs/workflows:/workflows ghcr.io/appuio/gandalf:latest render /workflows/"$basename" /workflows/"$cloud"/*.yml /workflows/shared/*.yml | sed -e 's/^=/==/' > docs/docs/modules/ROOT/partials/guided-setup/"$stripext".adoc
          done
      - name: Commit and push changes (if any)
        if: ${{ github.event_name == 'push' }}
        shell: bash
        env:
          CI_COMMIT_MESSAGE: Update install instructions from guided-setup
          CI_COMMIT_AUTHOR: github-actions[bot]
          CI_COMMIT_EMAIL: username@users.noreply.github.com
          GITHUB_TOKEN:  ${{ secrets.DOCS_REPO }}
        run: |
          cd docs
          git config --global user.name "${{ env.CI_COMMIT_AUTHOR }}"
          git config --global user.email "${{ env.CI_COMMIT_EMAIL }}"
          if [[ `git status --porcelain --untracked-files=no` ]]; then
            # Changes
            ts="$( date +%s)"
            git checkout -b docs-update-"${ts}"
            git add .
            git commit -m "${{ env.CI_COMMIT_MESSAGE }}"
            git push origin docs-update-"${ts}"
            gh pr create --title "${{ env.CI_COMMIT_MESSAGE }}" --body "Automated documentation update by guided-setup" --base master --head docs-update-"${ts}"
            gh pr merge --auto --squash
          else
            # No changes
            echo "no changes to commit"
            exit 0
          fi
