name: Release

on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request: {}
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      IMAGE: ${{ github.repository }}
    steps:
      - uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set image version latest
        if: github.ref == 'refs/heads/main'
        run: echo "VERSION=latest" >> ${GITHUB_ENV}
      - name: Set image version for PRs to branch name
        if: github.event_name == 'pull_request'
        run: echo "VERSION=${GITHUB_HEAD_REF//\//-}" >> ${GITHUB_ENV}
      - name: Set image version from tag
        if: startsWith(github.ref, 'refs/tags/v')
        run: echo "VERSION=$(echo ${GITHUB_REF#refs/tags/})" >> ${GITHUB_ENV}

      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          tags: 'ghcr.io/${{ env.IMAGE }}:${{ env.VERSION }}'
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Build changelog from PRs with labels
        if: startsWith(github.ref, 'refs/tags/v')
        id: build_changelog
        uses: mikepenz/release-changelog-builder-action@v5
        with:
          configuration: ".github/changelog-configuration.json"
          # PreReleases still get a changelog, but the next full release gets a diff since the last full release,
          # combining possible changelogs of all previous PreReleases in between.
          # PreReleases show a partial changelog since last PreRelease.
          ignorePreReleases: "${{ !contains(github.ref, '-rc') }}"
          outputFile: .github/release-notes.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create Release
        if: startsWith(github.ref, 'refs/tags/v')
        uses: ncipollo/release-action@v1
        with:
          body: "# Changes\n\n${{steps.build_changelog.outputs.changelog}}"
          prerelease: "${{ contains(github.ref, '-rc') }}"
          # Ensure target branch for release is "main"
          commit: main
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Delete untagged container images
        # We always delete all untagged container images after building an
        # image. This way, there should never be stale untagged images laying
        # around in the registry. In combination with the workflow that
        # deletes PR tags after the PR is closed we should be able to keep the
        # container image registry size in check.
        uses: dataaxiom/ghcr-cleanup-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          package: ${{ github.event.repository.name }}
          validate: true
